body{
    /* background-image: url("image.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    text-shadow: 20 20 10 10 10 blue;

}

h1, h2, p {
    text-shadow:  
    35px -2px 40px #ff0000,
    -5px 20px 30px #ff00ff,  
    -3px 3px 1px #2f0;
    
} 

h2[id^='sub']{
    color:green;
}

h1, h2[id*="head"]{
    text-align: center;
    text-shadow: 4 20 3 blue;
}

*[id*='head']{
    font-size:70px;
    border:30px solid rgb(0, 255, 55);
    border-image:url(border4.png)  34 repeat ;
  
}

*[id$='first']{
    border:7px solid red;
    background:linear-gradient(to right, green, grey, gold, white, green, white,
     gold, white, green, blue, gold, green, gold, white, green);
    opacity:1;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
   
}


p:last-of-type{
color:pink;
border:10px dashed blue;
    border-image:url(border.png) 40 round;
}